---
template: nil
title: "SusHack #2: Sustainability-themed hackday in Oxford on June 28th 2014"
---
<!doctype html>
<html>
<head>
    <title>
        {{ page.title }}
    </title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" href="img/favicon.png" />
</head>
<body>
    <div class="wrapper">
        {% for i in (0..6) %}
            <section
                class="section {% cycle '', 'white ' %}section-{{ i }}"
            >
                <div class="section-top"></div>
                <div class="section-middle">
                    {% if i == 0 %}
                        {% include section_0_intro.html %}
                    {% elsif i == 1 %}
                        {% include section_1.html %}
                    {% elsif i == 2 %}
                        {% include section_2.html %}
                    {% elsif i == 3 %}
                        {% include section_3.html %}
                    {% elsif i == 4 %}
                        {% include section_4.html %}
                    {% elsif i == 5 %}
                        {% include section_5.html %}
                    {% elsif i == 6 %}
                        {% include section_6.html %}
                    {% endif %}
                </div>
                <div class="section-bottom"></div>
            </section>
        {% endfor %}
        <section
            class="section section-7"
        >
            <div class="section-middle">
                {% include section_7.html %}
            </div>
        </section>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43559920-1', 'sushack.co.uk');
      ga('send', 'pageview');

    </script>
</body>
</html>
