<h2 id="attend">
    How can you sign up for SusHack?
</h2>
<article>
    <ol>
        <li>
            Create a <a href="https://github.com/join" target="_blank">Github account</a>, or sign in with your Github account.
        </li>
        <li>
            Go to our <a href="https://github.com/sushack/sushack.github.io/blob/master/_data/attendees.yml"><code>attendees.yml</code></a> file on Github.
        </li>
        <li>
            Click the 'Edit' button.
        </li>
        <li>
            Add your details, in the same format as the other attendees. You can generate an md5 of your email address either using the terminal as it says at the top of <code>attendees.yml</code>, or using an online service such as <a href="http://www.md5.cz/">http://www.md5.cz/</a>.
        </li>
        <li>
            When you're done, click 'Propose file change' at the bottom of the page.
        </li>
        <li>
            On the next page, just click 'Send pull request'.
        </li>
        <li>
            Now just wait for us to approve your change, and then you'll find yourself on the attendees list!
        </li>
    </ol>
</article>
<h2 id="attendees">
    Who is going to SusHack?
</h2>
<article>
    <ul class="attendees">
        {% for attendee in site.data.attendees %}
        <li>

            <img
                src="http://www.gravatar.com/avatar/{{ attendee.email_hash }}.jpg?s=100"
                alt="Picture of {{ attendee.name }}"
            />
            <span>
                {{ attendee.name }}
            </span>
            {% if attendee.github_username %}
                <span>
                    <a
                        href="http://github.com/{{ attendee.github_username }}"
                    >
                        Github
                    </a>
                </span>
            {% endif %}
            {% if attendee.bitbucket_username %}
                <span>
                    <a
                        href="https://bitbucket.org/{{ attendee.bitbucket_username }}"
                    >
                        BitBucket
                    </a>
                </span>
            {% endif %}
            {% if attendee.twitter_username %}
                <span>
                    <a
                        href="http://twitter.com/{{ attendee.twitter_username }}"
                    >
                        Twitter
                    </a>
                </span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</article>
