<h2>
    Who is going to SusHack?
</h2>
<article>
    <ul>
        {% for attendee in site.data.attendees %}
        <li>
            {{ attendee.name }}
            <img
                src="http://www.gravatar.com/avatar/{{ attendee.email_hash }}.jpg?s=100"
                alt="Picture of {{ attendee.name }}"
            />
            <span ng-if="attendee.github_username">
                <a
                    href="http://github.com/{{ attendee.github_username }}"
                >
                    Github
                </a>
            </span>
            <span ng-if="attendee.twitter_username">
                <a
                    href="http://twitter.com/{{ attendee.twitter_username }}"
                >
                    Twitter
                </a>
            </span>
        </li>
        {% endfor %}
    </ul>
</article>
