<h2>
    What can we do at SusHack?
</h2>
<article>
    <p>
        That's entirely up to you. You could work on sustainability-themed hacks, or work on your own personal projects. You can work solo, or you can work in pairs/teams with your friends, or people you've met on the day.
    </p>
    <p>
        If you've got any project ideas already, you can either email them to <a href="mailto:hello@sushack.co.uk">hello@sushack.co.uk</a> or comment on the <a href="https://github.com/sushack/sushack.github.io/issues/35">SusHack project ideas</a> ticket on GitHub, so that we have ideas to inspire people on the day.
    </p>
</article>
