<h2>
    Sponsors
</h2>
<article>
    <ul class="sponsors">
        {% for sponsor in site.data.sponsors %}
            <li>
                <a href="{{ sponsor.url }}" target="_blank">
                    {% if sponsor.logo %}
                        <img
                            src="{{ sponsor.logo }}"
                            alt="{{ sponsor.name }}"
                        />
                    {% else %}
                        {{ sponsor.name }}
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</article>
