<h2>
    When and where is SusHack?
</h2>
<article>
    <p>
        SusHack #3 will be held on <strong>Saturday 4th July 2015</strong>, at the 2degrees office in Summertown, Oxfordshire.
    </p>
    <p>
        Here is a map, and the full address:
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.6196205940646!2d-1.2644372711647136!3d51.77656068087439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c41143bea253%3A0x98064b8639175546!2s2degrees!5e0!3m2!1sen!2suk!4v1398955098253" width="100%" height="450" frameborder="0" style="border:0"></iframe>
    <p>
        2degrees, 228 Banbury Road, Oxford, OX2 7BY
    </p>
</article>
