<h2>
<h2 id="attend">
    How can you sign up for SusHack?
</h2>
<article>
    <p>
        To sign up for SusHack you need to have a <a href="https://github.com/join" target="_blank">Github account</a>.
    </p>
    <p>
        Once you've got an account, fork our <a href="https://github.com/omgmog/sushack.co.uk/blob/gh-pages/_data/attendees.yml"><code>attendees.yml</code></a> file, and add yourself to the attendees list, then create a pull request.
    </p>
    <p>
        We'll expand on these details a bit more later.
    </p>
</article>
    Who is going to SusHack?
</h2>
<article>
    <ul>
        {% for attendee in site.data.attendees %}
        <li>
            {{ attendee.name }}
            <img
                src="http://www.gravatar.com/avatar/{{ attendee.email_hash }}.jpg?s=100"
                alt="Picture of {{ attendee.name }}"
            />
            <span ng-if="attendee.github_username">
                <a
                    href="http://github.com/{{ attendee.github_username }}"
                >
                    Github
                </a>
            </span>
            <span ng-if="attendee.twitter_username">
                <a
                    href="http://twitter.com/{{ attendee.twitter_username }}"
                >
                    Twitter
                </a>
            </span>
        </li>
        {% endfor %}
    </ul>
</article>
