<h2>
    SusHack #1
</h2>
<article>
    <p>
        SusHack #1 was held in November 2013. We worked with the folks from LoveHz to bootstrap the Oxford Flood Network.
    </p>
    <p>
        All of the attendees worked together on various aspects of the Flood Network, and by the end of the day we had everything up and running along with a prototype front-end to demonstrate how the sensor data could be used.
    </p>
    <p>
        You can view the output of all of the projects here:
    </p>
    <ul>
        <li>
            <a href="https://github.com/sushack/sushack-1">
                https://github.com/sushack/sushack-1
            </a>
        </li>
    </ul>
    <p>
        You can read what people had to say about SusHack #1 here:
    </p>
    <ul>
        <li>
            <a href="http://blog.omgmog.net/post/sushack-1-building-the-foundations-of-the-oxford-flood-network-stack/">
                SusHack #1: Building the foundations of the Oxford Flood Network Stack
            </a>
        </li>
        <li>
            <a href="http://www.jpstacey.info/blog/2013-11-05/sustainable-hacking-last-weekend-summertown">
                Sustainable hacking last weekend in Summertown
            </a>
        </li>
        <li>
            <a href="http://odec.org.uk/occupy-whitespace-the-oxford-flood-network/">
                Occupy whitespace : the Oxford Flood Network
            </a>
        </li>
    </ul>
</article>
