<h2>
    What is SusHack?
</h2>
<article>
    <p>
        SusHack is a <strong>free</strong> one-day hack day that helps developers get together to create solutions to sustainability problems using their skills in development and lots of coffee.
    </p>
    <p>
        The aim of the hack day isn't to deliver any polished software, but to rapidly take something from an idea through to a working/demonstrable piece of software.
    </p>
    <p>
        SusHack is completely free to attend. We've got the space, food/refreshments and WiFi, all you need to bring is yourself and your laptop.
    </p>
</article>
