<h2>
    SusHack #1
</h2>
<article>
    <p>
        SusHack #1 was held in November 2013. We worked with the folks from LoveHz to bootstrap the Oxford Flood Network.
    </p>
    <p>
        All of the attendees worked together on various aspects of the Flood Network, and by the end of the day we had everything up and running along with a prototype front-end to demonstrate how the sensor data could be used.
    </p>
    <p>
        You can view the output of all of the projects here:
    </p>
    <ul>
        <li>
            <a href="https://github.com/sushack/sushack-1">
                https://github.com/sushack/sushack-1
            </a>
        </li>
    </ul>
    <p>
        You can read what people had to say about SusHack #1 here:
    </p>
    <ul>
        <li>
            <a href="https://blog.omgmog.net/post/sushack-1-building-the-foundations-of-the-oxford-flood-network-stack/">
                SusHack #1: Building the foundations of the Oxford Flood Network Stack
            </a> by Max Glenister
        </li>
        <li>
            <a href="http://www.jpstacey.info/blog/2013-11-05/sustainable-hacking-last-weekend-summertown">
                Sustainable hacking last weekend in Summertown
            </a> by J-P Stacey
        </li>
        <li>
            <a href="http://odec.org.uk/occupy-whitespace-the-oxford-flood-network/">
                Occupy whitespace : the Oxford Flood Network
            </a>
        </li>
    </ul>
</article>
<h2>
    SusHack #2
</h2>
<article>
    <p>
        SusHack #2 was held at the 2degrees offices in Summertown again, a really nice space with plenty of desks for people to split in to teams and work on their projects, while still being able to talk to other teams.
    </p>
    <p>
        The teams worked on the following projects:
    </p>
    <ul>
        <li>
            <a href="https://github.com/sushack/do">Do</a> - A "habits thingy", a tool for socially recording daily habits, such as cycling to work rather than driving.
        </li>
        <li>
            <a href="https://github.com/sushack/thermal-imaging">Drupal site for recording thermal imaging data</a> - The start of an application for a local community to schedule thermal imaging camera visits, and record the data/observations.
        </li>
        <li>
            <a href="https://github.com/sushack/wildswimquality">Wild Swim Quality</a> - A presentation of water quality data overlaid on a map, to make it easy to locate water that is safe for wild swimming.
        </li>
        <li>
            <a href="https://github.com/sushack/oxfordair">Oxford Air Quality Monitoring</a> - This application allows to see Oxford air quality measurements with advanced visualisation.
        </li>
    </ul>
    <p>
        You can read what people had to say about SusHack #2 here:
    </p>
    <ul>
        <li>
            <a href="https://blog.omgmog.net/post/sushack-2/">
                SusHack #2
            </a> by Max Glenister
        </li>
        <li>
            <a href="http://www.jpstacey.info/blog/2014-07-02/many-projects-sushack-2">
                Many projects at SusHack 2
            </a> by J-P Stacey
        </li>
    </ul>
</article>