<h2>
    SusHack is organised by
</h2>
<article>
    <p>
        SusHack has been organised by <a href="http://www.omgmog.net">Max Glenister</a> (<a href="http://twitter.com/omgmog">@omgmog</a>) and <a href="http://www.lumbercoder.com">Gil Goncalves</a> (<a href="http://twitter.com/lurst">@lurst</a>), two developers based in Oxford.
    </p>
    <p>
        To get updates about SusHack, follow us on <a href="http://twitter.com/sushack_" target="_blank">Twitter</a>.
    </p>
    <a class="twitter-timeline" href="https://twitter.com/SusHack_" data-widget-id="461991639859220480">Tweets by @SusHack_</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


</article>
