<!doctype html>
<html>
<head>
    <title>
        SusHack #2: Sustainability-themed hackday in Oxford on June 28th 2014
    </title>
    <link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
    <div class="wrapper" ng-app="sushack">
        <section class="section section-intro">
            <h1>
                <span>SusHack #2</span>
            </h1>
        </section>
        <section class="section white section-1">
            <div class="section-top">

            </div>
            <div class="section-middle">
                <h2>
                    What is SusHack?
                </h2>
                <article>
                    <p>
                        SusHack is a <strong>free</strong> one-day hack day that helps developers get together to create solutions to sustainability problems using their skills in development and lots of coffee.
                    </p>
                    <p>
                        The aim of the hack day isn't to deliver any polished software, but to rapidly take something from an idea through to a working/demonstrable piece of software.
                    </p>
                    <p>
                        SusHack is completely free to attend. We've got the space, food/refreshments and WiFi, all you need to bring is yourself and your laptop.
                    </p>
                </article>
            </div>
            <div class="section-bottom">

            </div>
        </section>
        <section class="section section-2">
            <div class="section-top">

            </div>
            <div class="section-middle">
                <h2>
                    What can we do at SusHack?
                </h2>
                <article>
                    <p>
                        That's entirely up to you. You could work on sustainability-themed hacks, or work on your own personal projects. You can work solo, or you can work in pairs/teams with your friends, or people you've met on the day.
                    </p>
                    <p>
                        If you've got any project ideas already, you can describe them in the field on the sign-up form, so that we've got a nice list of projects to inspire people on the day.
                    </p>
                </article>
            </div>
            <div class="section-bottom">

            </div>
        </section>
        <section class="section white section-3">
            <div class="section-top">

            </div>
            <div class="section-middle">
                <h2>
                    When and where is SusHack?
                </h2>
                <article>
                    <p>
                        SusHack #2 will be held on <strong>Saturday June 1st 2014</strong>, at the 2degrees office in Summertown, Oxfordshire.
                    </p>
                    <p>
                        Here is a map, and the full address:
                    </p>
                    <!-- map here -->
                    <p>
                        2degrees, 228 Banbury Road, Summertown, Oxfordshire, OX2 7BY
                    </p>
                </article>
            </div>
            <div class="section-bottom">

            </div>
        </section>
        <section class="section section-4" ng-controller="AttendeeController">
            <div class="section-top">

            </div>
            <div class="section-middle">
                <h2>
                    Want to come to SusHack?
                </h2>
                <article>
                    <form ng-submit="add_attendee()" name="new_attendee_form">
                        <div class="form-element">
                            <input
                                type="text"
                                ng-model="new_attendee.name"
                                placeholder="Name"
                                required
                            />
                        </div>
                        <div class="form-element">
                            <input
                                type="email"
                                ng-model="new_attendee.email"
                                placeholder="Email"
                                required
                            />
                        </div>
                        <div class="form-element">
                            <input
                                type="text"
                                ng-model="new_attendee.twitter_username"
                                placeholder="Twitter username"
                            />
                        </div>
                        <div class="form-element">
                            <input
                                type="text"
                                ng-model="new_attendee.github_username"
                                placeholder="Github username"
                            />
                        </div>
                        <button type="submit" ng-disabled="new_attendee_form.$invalid">
                            Attend
                        </button>
                    </form>
                </article>
                <h2>
                    Who is going to SusHack?
                </h2>
                <article>
                    <ul>
                        <li ng-repeat="attendee in attendees">
                            {{ attendee.name }}
                            <img
                                ng-src="{{ attendee.image_url }}"
                                alt="Picture of {{ attendee.name }}"
                            />
                            <span ng-if="attendee.github_username">
                                <a
                                    href="http://github.com/{{ attendee.github_username }}"
                                >
                                    Github
                                </a>
                            </span>
                            <span ng-if="attendee.twitter_username">
                                <a
                                    href="http://twitter.com/{{ attendee.twitter_username }}"
                                >
                                    Twitter
                                </a>
                            </span>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="section-bottom">

            </div>
        </section>
        <section class="section white section-5">
            <div class="section-top">

            </div>
            <div class="section-middle">
                <h2>
                    Who is organising SusHack?
                </h2>
                <article>
                    <p>
                        SusHack has been organised by <a href="http://www.omgmog.net">Max Glenister</a> (<a href="http://twitter.com/omgmog">@omgmog</a>) and <a href="http://www.lumbercoder.com">Gil Goncalves</a> (<a href="http://twitter.com/lurst">@lurst</a>), two developers based in Oxford.
                    </p>
                    <p>
                        Support for setting up the technical side of this website was provided by Euan Goddard.
                    </p>
                </article>
            </div>
            <div class="section-bottom">

            </div>
        </section>
        <section class="section section-6">
            <div class="section-top">

            </div>
            <div class="section-middle">
                <h2>
                    SusHack #1
                </h2>
                <article>
                    <p>
                        SusHack #1 was held in November 2013. We worked with the folks from LoveHz to bootstrap the Oxford Flood Network.
                    </p>
                    <p>
                        All of the attendees worked together on various aspects of the Flood Network, and by the end of the day we had everything up and running along with a prototype front-end to demonstrate how the sensor data could be used.
                    </p>
                    <p>
                        You can view the output of all of the projects here:
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/sushack/sushack-1">
                                https://github.com/sushack/sushack-1
                            </a>
                        </li>
                    </ul>
                    <p>
                        You can read what people had to say about SusHack #1 here:
                    </p>
                    <ul>
                        <li>
                            <a href="http://blog.omgmog.net/post/sushack-1-building-the-foundations-of-the-oxford-flood-network-stack/">
                                SusHack #1: Building the foundations of the Oxford Flood Network Stack
                            </a>
                        </li>
                        <li>
                            <a href="http://www.jpstacey.info/blog/2013-11-05/sustainable-hacking-last-weekend-summertown">
                                Sustainable hacking last weekend in Summertown
                            </a>
                        </li>
                        <li>
                            <a href="http://odec.org.uk/occupy-whitespace-the-oxford-flood-network/">
                                Occupy whitespace : the Oxford Flood Network
                            </a>
                        </li>
                    </ul>
                </article>
            </div>
            <div class="section-bottom">

            </div>
        </section>
        <section class="section white section-7">
            <div class="section-top">

            </div>
            <div class="section-middle">
                <h2>
                    Sponsors
                </h2>
                <article>
                    <ul>
                        <li>
                            2degrees
                        </li>
                        <li>
                            Marmalade &amp; Jam
                        </li>
                        <li>
                            GitHub
                        </li>
                        <li>
                            Environment Agency
                        </li>
                    </ul>
                </article>
            </div>
            <div class="section-bottom">

            </div>
        </section>
    </div>

    <script src="/static/js/lib/md5.js"></script>
    <script src="/static/js/lib/angular.min.js"></script>
    <script src="/static/js/sushack.js"></script>
</body>
</html>
